<div class="menu-container">
  <div class="menu-card">
    <h1>Menú Principal</h1>

    <section class="usuario-card">
      <p>{{ mensajeSesion }}</p>

      <div *ngIf="sesionActiva">
        <small>{{ correoUsuario }}</small>

      <div class="estadisticas-usuario">
        <div>
          <strong>{{ victorias }}</strong>
          <span>Victorias</span>
        </div>

        <div>
          <strong>{{ derrotas }}</strong>
          <span>Derrotas</span>
        </div>

        <div>
          <strong>{{ totalPartidas }}</strong>
          <span>Partidas</span>
        </div>
      </div>

      <button type="button" (click)="cerrarSesion()">
        Cerrar sesión
      </button>
    </div>

      <a *ngIf="!sesionActiva" routerLink="/login">
        Iniciar sesión o registrarse
      </a>

      <div class="monedas-display nes-badge" style="margin-top: 1rem;">
        <span class="is-warning">🪙 {{ monedasService.monedas$ | async }} Monedas</span>
      </div>
    </section>

    <p>Selecciona una opción para continuar</p>

    <div class="menu-opciones">
      <a routerLink="/tienda"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/nugget.png" alt="Tienda" class="menu-icon"> Tienda Gacha</a>
      <a routerLink="/coleccion"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/card-key.png" alt="Colección" class="menu-icon"> Colección de cartas</a>
      <a routerLink="/mazo"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png" alt="Mazo" class="menu-icon"> Constructor de mazo</a>
      <a routerLink="/juego-cpu"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/vs-seeker.png" alt="CPU" class="menu-icon"> Jugar contra computadora</a>
      <a routerLink="/juego-online"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/town-map.png" alt="Online" class="menu-icon"> Jugar en línea</a>
      <a routerLink="/historial"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/journal.png" alt="Historial" class="menu-icon"> Historial de partidas</a>
      <a routerLink="/resultados"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/amulet-coin.png" alt="Resultados" class="menu-icon"> Resultados generales</a>
      <a routerLink="/reglas"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/tm-normal.png" alt="Reglas" class="menu-icon"> Reglas del juego</a>
      <a routerLink="/"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/escape-rope.png" alt="Inicio" class="menu-icon"> Volver al inicio</a>
    </div>
  </div>
</div>
